<div class="layout layout--column layout--top">
  <div class="grid grid--cols-2 gap--large lg:gap--xlarge">
    <div>
      <div class="grid grid--cols-1 gap--large lg:gap--xlarge">
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <div class="flex gap--small lg:gap--base flex--center-y">
              <img class="image image-stroke image-stroke--medium" src="data:image/svg+xml;base64,{{ outage_svg | base64_encode }}" style="height: 2rem; width: 2rem;" /> <span class="value value--base lg:value--large value--tnums" data-value-format="true" data-value-locale="{{ trmnl.user.locale }}">{{ customer_count | default: 0 }}</span>
            </div>
            <div><span class="label label--small">Customers Without Power</span></div>
          </div>
        </div>
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <div class="value value--small lg:value--base">{{ formatted_update_time }}</div>
            <div><span class="label label--small">Last Updated</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col--span-1">
      <div
        style="overflow: hidden;">
        <div id="{{ mapCanvasId }}" class="w--full h--[100cqh]">Loading ...</div>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image image-stroke image-stroke--medium" src="data:image/svg+xml;base64,{{ nes_logo | base64_encode }}" />
  <span class="title">Service Outages</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
