<div class="layout layout--row layout--top">
  <div class="grid grid--cols-1 gap--medium">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <div class="flex gap--small flex--center-y">
          <img class="image image-stroke image-stroke--medium" src="data:image/svg+xml;base64,{{ outage_svg | base64_encode }}" style="height: 2rem; width: 2rem;" /> <span class="value value--medium value--tnums" data-value-format="true">{{ customer_count | number_with_delimiter | default: 0 }}</span>
        </div>
        <div><span class="label label--small">Customers Without Power</span></div>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <div class="value value--small">{{ formatted_update_time }}</div>
        <div><span class="label label--small">Last Updated</span></div>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image image-stroke image-stroke--medium" src="data:image/svg+xml;base64,{{ nes_logo | base64_encode }}" />
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
